<%= form_for @postulacion do |g| %>
<%= g.hidden_field :gauchada_id  %>
<div class="row">
<%= g.label :fecha_de_realizacion %>
</div>
<div class="row">
<%= g.date_select :fechaderealizacion, :placeholder=>'Fecha de realizacion' %>
</div>
<div class="row">
<%= g.label :comentarios %>
</div>
<div class="row">
<%= g.text_field :comentarios,:placeholder=>'Comentarios', maxlength: 140,size: 140, required: true, class:"form-control" %>
</div>
<%= g.submit 'Guardar',:class=>'btn btn-warning' %>
<% end %>
