<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="thumbnail" href="/">
        <%= image_tag "logo.png", title: "Logo", class: "img-responsive" %></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">  <% if user_signed_in? %>
            <li><p class = "navbar-text">Bienvenido/a <strong><%= current_user.nombre %></strong>.</p></li>
            <% if current_user.puntos_para_gauchadas == 1 %>
              <li><p class = "navbar-text">Tenés <strong><%= current_user.puntos_para_gauchadas %> punto</strong> para pedir gauchadas</p></li>
             <%else%>
                <li><p class = "navbar-text">Tenés <strong><%= current_user.puntos_para_gauchadas %> puntos</strong> para pedir gauchadas</p></li>
             <%end%>
            <li><a href="/gauchadas/new"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Nueva gauchada</a></li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span> Opciones <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Ver mis gauchadas', misgauchadas_path, :class => 'navbar-link' %></li>
                <li><%= link_to 'Ver mis postulaciones', mispostulaciones_path, :class => 'navbar-link' %></li>
                <li><%= link_to 'Ver gauchadas cumplidas', gauchadascumplidas_path, :class => 'navbar-link' %></li>
                <li><%= link_to 'Configuración', edit_user_registration_path, :class => 'navbar-link' %></li>
                <li><a href="/comprar_puntos/edit">Comprar puntos</a></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
              </ul>
            </li>
          <% else %>
            <li><button type="submit" class="btn"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>   <%= link_to "Iniciar sesión", new_user_session_path, :class => 'navbar-link '  %></button></li>
            <li><button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span><%= link_to "¿No tenés cuenta? ¡Registrate!", new_user_registration_path, :class => 'navbar-link'  %> </button></li>
          <% end %>



        </ul>
        <%= form_tag '/buscar', :method => "get", id: "search-form", class:"navbar-form navbar-left" do %>
        <%= text_field_tag :search, params[:search], placeholder: "Buscar gauchadas", class:"form-control" %>
        <%= submit_tag "Buscar" , class:'btn btn-warning' %>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? and current_user.administrador == true %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span> Opciones admin <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li> <a href="/logros"> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver Logros </a> </li>
            <li> <a href="/reporteusuario"> <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Reporte de usuario </a> </li>
            <li> <a href="/reporteganancia"> <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Reporte de ganancias </a> </li>
            </ul>
            </li>
          <% end %>
            </li>
            </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  </header>
